--
-- PostgreSQL database dump
--

\restrict QsJb86uRak9Z313Nox6UbGUWmkkNJqjL1pBnkZeEsW3GugUfaloBOedcOt6SCVP

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _sqlx_migrations; Type: TABLE; Schema: public; Owner: giacomo
--

CREATE TABLE public._sqlx_migrations (
    version bigint NOT NULL,
    description text NOT NULL,
    installed_on timestamp with time zone DEFAULT now() NOT NULL,
    success boolean NOT NULL,
    checksum bytea NOT NULL,
    execution_time bigint NOT NULL
);


ALTER TABLE public._sqlx_migrations OWNER TO giacomo;

--
-- Name: categoria; Type: TABLE; Schema: public; Owner: giacomo
--

CREATE TABLE public.categoria (
    id integer CONSTRAINT category_id_not_null NOT NULL,
    nome character varying(20)
);


ALTER TABLE public.categoria OWNER TO giacomo;

--
-- Name: category_id_seq; Type: SEQUENCE; Schema: public; Owner: giacomo
--

CREATE SEQUENCE public.category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.category_id_seq OWNER TO giacomo;

--
-- Name: category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: giacomo
--

ALTER SEQUENCE public.category_id_seq OWNED BY public.categoria.id;


--
-- Name: dipartimento; Type: TABLE; Schema: public; Owner: giacomo
--

CREATE TABLE public.dipartimento (
    id integer NOT NULL,
    nome character varying(50)
);


ALTER TABLE public.dipartimento OWNER TO giacomo;

--
-- Name: dipartimento_id_seq; Type: SEQUENCE; Schema: public; Owner: giacomo
--

CREATE SEQUENCE public.dipartimento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dipartimento_id_seq OWNER TO giacomo;

--
-- Name: dipartimento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: giacomo
--

ALTER SEQUENCE public.dipartimento_id_seq OWNED BY public.dipartimento.id;


--
-- Name: iscrizione; Type: TABLE; Schema: public; Owner: giacomo
--

CREATE TABLE public.iscrizione (
    id integer NOT NULL,
    anno smallint,
    dipartimento integer NOT NULL,
    ruolo integer NOT NULL,
    id_persona integer NOT NULL,
    fotourl character varying(150)
);


ALTER TABLE public.iscrizione OWNER TO giacomo;

--
-- Name: iscrizione_dipartimento_seq; Type: SEQUENCE; Schema: public; Owner: giacomo
--

CREATE SEQUENCE public.iscrizione_dipartimento_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.iscrizione_dipartimento_seq OWNER TO giacomo;

--
-- Name: iscrizione_dipartimento_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: giacomo
--

ALTER SEQUENCE public.iscrizione_dipartimento_seq OWNED BY public.iscrizione.dipartimento;


--
-- Name: iscrizione_id_persona_seq; Type: SEQUENCE; Schema: public; Owner: giacomo
--

CREATE SEQUENCE public.iscrizione_id_persona_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.iscrizione_id_persona_seq OWNER TO giacomo;

--
-- Name: iscrizione_id_persona_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: giacomo
--

ALTER SEQUENCE public.iscrizione_id_persona_seq OWNED BY public.iscrizione.id_persona;


--
-- Name: iscrizione_id_seq; Type: SEQUENCE; Schema: public; Owner: giacomo
--

CREATE SEQUENCE public.iscrizione_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.iscrizione_id_seq OWNER TO giacomo;

--
-- Name: iscrizione_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: giacomo
--

ALTER SEQUENCE public.iscrizione_id_seq OWNED BY public.iscrizione.id;


--
-- Name: iscrizione_ruolo_seq; Type: SEQUENCE; Schema: public; Owner: giacomo
--

CREATE SEQUENCE public.iscrizione_ruolo_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.iscrizione_ruolo_seq OWNER TO giacomo;

--
-- Name: iscrizione_ruolo_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: giacomo
--

ALTER SEQUENCE public.iscrizione_ruolo_seq OWNED BY public.iscrizione.ruolo;


--
-- Name: news; Type: TABLE; Schema: public; Owner: giacomo
--

CREATE TABLE public.news (
    id integer NOT NULL,
    titolo character varying(50) NOT NULL,
    descrizione character varying(300),
    path_immagine character varying(150),
    data_rilascio date,
    categoria_id integer NOT NULL
);


ALTER TABLE public.news OWNER TO giacomo;

--
-- Name: news_categoria_id_seq; Type: SEQUENCE; Schema: public; Owner: giacomo
--

CREATE SEQUENCE public.news_categoria_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.news_categoria_id_seq OWNER TO giacomo;

--
-- Name: news_categoria_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: giacomo
--

ALTER SEQUENCE public.news_categoria_id_seq OWNED BY public.news.categoria_id;


--
-- Name: news_id_seq; Type: SEQUENCE; Schema: public; Owner: giacomo
--

CREATE SEQUENCE public.news_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.news_id_seq OWNER TO giacomo;

--
-- Name: news_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: giacomo
--

ALTER SEQUENCE public.news_id_seq OWNED BY public.news.id;


--
-- Name: persona; Type: TABLE; Schema: public; Owner: giacomo
--

CREATE TABLE public.persona (
    id integer NOT NULL,
    nome character varying(20) NOT NULL,
    cognome character varying(20) NOT NULL,
    link character varying(200)
);


ALTER TABLE public.persona OWNER TO giacomo;

--
-- Name: persona_id_seq; Type: SEQUENCE; Schema: public; Owner: giacomo
--

CREATE SEQUENCE public.persona_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.persona_id_seq OWNER TO giacomo;

--
-- Name: persona_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: giacomo
--

ALTER SEQUENCE public.persona_id_seq OWNED BY public.persona.id;


--
-- Name: ruolo; Type: TABLE; Schema: public; Owner: giacomo
--

CREATE TABLE public.ruolo (
    id integer NOT NULL,
    nome_ruolo character varying(30)
);


ALTER TABLE public.ruolo OWNER TO giacomo;

--
-- Name: ruolo_id_seq; Type: SEQUENCE; Schema: public; Owner: giacomo
--

CREATE SEQUENCE public.ruolo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ruolo_id_seq OWNER TO giacomo;

--
-- Name: ruolo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: giacomo
--

ALTER SEQUENCE public.ruolo_id_seq OWNED BY public.ruolo.id;


--
-- Name: categoria id; Type: DEFAULT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.categoria ALTER COLUMN id SET DEFAULT nextval('public.category_id_seq'::regclass);


--
-- Name: dipartimento id; Type: DEFAULT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.dipartimento ALTER COLUMN id SET DEFAULT nextval('public.dipartimento_id_seq'::regclass);


--
-- Name: iscrizione id; Type: DEFAULT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.iscrizione ALTER COLUMN id SET DEFAULT nextval('public.iscrizione_id_seq'::regclass);


--
-- Name: iscrizione dipartimento; Type: DEFAULT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.iscrizione ALTER COLUMN dipartimento SET DEFAULT nextval('public.iscrizione_dipartimento_seq'::regclass);


--
-- Name: iscrizione ruolo; Type: DEFAULT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.iscrizione ALTER COLUMN ruolo SET DEFAULT nextval('public.iscrizione_ruolo_seq'::regclass);


--
-- Name: iscrizione id_persona; Type: DEFAULT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.iscrizione ALTER COLUMN id_persona SET DEFAULT nextval('public.iscrizione_id_persona_seq'::regclass);


--
-- Name: news id; Type: DEFAULT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.news ALTER COLUMN id SET DEFAULT nextval('public.news_id_seq'::regclass);


--
-- Name: news categoria_id; Type: DEFAULT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.news ALTER COLUMN categoria_id SET DEFAULT nextval('public.news_categoria_id_seq'::regclass);


--
-- Name: persona id; Type: DEFAULT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.persona ALTER COLUMN id SET DEFAULT nextval('public.persona_id_seq'::regclass);


--
-- Name: ruolo id; Type: DEFAULT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.ruolo ALTER COLUMN id SET DEFAULT nextval('public.ruolo_id_seq'::regclass);


--
-- Data for Name: _sqlx_migrations; Type: TABLE DATA; Schema: public; Owner: giacomo
--

COPY public._sqlx_migrations (version, description, installed_on, success, checksum, execution_time) FROM stdin;
\.


--
-- Data for Name: categoria; Type: TABLE DATA; Schema: public; Owner: giacomo
--

COPY public.categoria (id, nome) FROM stdin;
1	OFFICIAL
2	TECH
3	SPONSOR
\.


--
-- Data for Name: dipartimento; Type: TABLE DATA; Schema: public; Owner: giacomo
--

COPY public.dipartimento (id, nome) FROM stdin;
1	Avionics
3	Payload
4	Recovery system
5	Flight Dynamics
6	Marketing & Logistics
7	Avionics & Flight Dynamics
2	Propulsion & Structures & Manifacturing
8	Recovery
9	Propulsion, Structures and Manufacturing
10	Board
\.


--
-- Data for Name: iscrizione; Type: TABLE DATA; Schema: public; Owner: giacomo
--



--
-- Data for Name: news; Type: TABLE DATA; Schema: public; Owner: giacomo
--

COPY public.news (id, titolo, descrizione, path_immagine, data_rilascio, categoria_id) FROM stdin;
1	penar	the peanits is good	/big_raga.webp	2026-01-01	1
2	mi piace la cioccolata calda	una tazza di cioccolata	/evil_car.gif	2026-01-02	2
\.


--
-- Data for Name: persona; Type: TABLE DATA; Schema: public; Owner: giacomo
--



--
-- Data for Name: ruolo; Type: TABLE DATA; Schema: public; Owner: giacomo
--

COPY public.ruolo (id, nome_ruolo) FROM stdin;
1	chief
2	user
\.


--
-- Name: category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: giacomo
--

SELECT pg_catalog.setval('public.category_id_seq', 3, true);


--
-- Name: dipartimento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: giacomo
--

SELECT pg_catalog.setval('public.dipartimento_id_seq', 10, true);


--
-- Name: iscrizione_dipartimento_seq; Type: SEQUENCE SET; Schema: public; Owner: giacomo
--

SELECT pg_catalog.setval('public.iscrizione_dipartimento_seq', 1, false);


--
-- Name: iscrizione_id_persona_seq; Type: SEQUENCE SET; Schema: public; Owner: giacomo
--

SELECT pg_catalog.setval('public.iscrizione_id_persona_seq', 1, false);


--
-- Name: iscrizione_id_seq; Type: SEQUENCE SET; Schema: public; Owner: giacomo
--

SELECT pg_catalog.setval('public.iscrizione_id_seq', 127, true);


--
-- Name: iscrizione_ruolo_seq; Type: SEQUENCE SET; Schema: public; Owner: giacomo
--

SELECT pg_catalog.setval('public.iscrizione_ruolo_seq', 1, false);


--
-- Name: news_categoria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: giacomo
--

SELECT pg_catalog.setval('public.news_categoria_id_seq', 1, false);


--
-- Name: news_id_seq; Type: SEQUENCE SET; Schema: public; Owner: giacomo
--

SELECT pg_catalog.setval('public.news_id_seq', 2, true);


--
-- Name: persona_id_seq; Type: SEQUENCE SET; Schema: public; Owner: giacomo
--

SELECT pg_catalog.setval('public.persona_id_seq', 115, true);


--
-- Name: ruolo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: giacomo
--

SELECT pg_catalog.setval('public.ruolo_id_seq', 2, true);


--
-- Name: _sqlx_migrations _sqlx_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public._sqlx_migrations
    ADD CONSTRAINT _sqlx_migrations_pkey PRIMARY KEY (version);


--
-- Name: categoria category_pkey; Type: CONSTRAINT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.categoria
    ADD CONSTRAINT category_pkey PRIMARY KEY (id);


--
-- Name: dipartimento dipartimento_pkey; Type: CONSTRAINT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.dipartimento
    ADD CONSTRAINT dipartimento_pkey PRIMARY KEY (id);


--
-- Name: iscrizione iscrizione_pkey; Type: CONSTRAINT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.iscrizione
    ADD CONSTRAINT iscrizione_pkey PRIMARY KEY (id);


--
-- Name: news news_pkey; Type: CONSTRAINT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.news
    ADD CONSTRAINT news_pkey PRIMARY KEY (id);


--
-- Name: persona persona_pkey; Type: CONSTRAINT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.persona
    ADD CONSTRAINT persona_pkey PRIMARY KEY (id);


--
-- Name: ruolo ruolo_pkey; Type: CONSTRAINT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.ruolo
    ADD CONSTRAINT ruolo_pkey PRIMARY KEY (id);


--
-- Name: iscrizione iscrizione_dipartimento_fkey; Type: FK CONSTRAINT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.iscrizione
    ADD CONSTRAINT iscrizione_dipartimento_fkey FOREIGN KEY (dipartimento) REFERENCES public.dipartimento(id);


--
-- Name: iscrizione iscrizione_id_persona_fkey; Type: FK CONSTRAINT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.iscrizione
    ADD CONSTRAINT iscrizione_id_persona_fkey FOREIGN KEY (id_persona) REFERENCES public.persona(id);


--
-- Name: iscrizione iscrizione_ruolo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.iscrizione
    ADD CONSTRAINT iscrizione_ruolo_fkey FOREIGN KEY (ruolo) REFERENCES public.ruolo(id);


--
-- Name: news news_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: giacomo
--

ALTER TABLE ONLY public.news
    ADD CONSTRAINT news_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.categoria(id);


--
-- PostgreSQL database dump complete
--

\unrestrict QsJb86uRak9Z313Nox6UbGUWmkkNJqjL1pBnkZeEsW3GugUfaloBOedcOt6SCVP

